body {
    background: linear-gradient(to right,rgb(243, 39, 3),rgba(219, 130, 13, 0.829),rgb(255, 136, 0));
}

#container {
    background-color: white;
    height: 525px;
    width: 360px;
    margin: 100px auto; /* Give the element a margin of 100px on the top and bottom and automatically calculate the left and right margin to centerit horizontally */
    border-radius: 20px; /* Round off the edges if the element */
    box-shadow: 1px 10px 5px black; /* Box shadow properties: horizontal offset (required), vertical offset (required), blur (optional), spread (optional), color (optional) */
}

h1 {
    background-color: black;
    color: orange;
    text-align: center;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 100px;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

p {
    padding-left: 20px;
}

#billAmt, #serviceQual, #numPeople { /* Elements with the ID of billAmt and serviceQual will both receive these styles */
    margin-left: 20px;
    font-size: 14px;
}

#billAmt:focus, #serviceQual:focus {
    border: 3px solid orange;
    outline: none;
}

button {
    display: block;
    margin: 30px auto;
    text-transform: uppercase;
    font-weight: bold;
    width: 200px;
    height: 50px;
    font-size: 20pt;
    background-color: orange;
    color: white;
}

button:hover {
    background-color: black;
}

button:focus {
    outline: none;
}

